$bodybackground: rgba(207, 207, 207, 0.486);
body {
  background-color: $bodybackground;
  font-family: Helvetica, Sans-Serif;
  margin: 0;
}

.container--nav {
  margin: auto;
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
}
.container--right {
  display: flex;
  align-items: center;
}
.container--left {
  display: flex;
  align-items: center;
}
.points {
  background-color: #00c0a8;
  border-radius: 20px;
  padding: 1px 10px;
  color: rgb(255, 255, 255);
}
.nav--button {
  border: 0px;
  background-color: transparent;
  color: #00c0a8;
  cursor: pointer;
}
.container--left {
  a,
  input {
    padding: 0px 15px;
  }
}
.container--right {
  p,
  span,
  button {
    padding: 0px 15px;
  }
}

.container--menu {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 153, 255);
  }
  li a {
    display: block;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #00aeff;
  }
}
/*      HEADER MENU         */
.container {
  max-width: 1150px;
  margin: auto;
}
.container--ranks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container--button {
  button {
    padding: 7px 20px;
    border: 0;
    border-spacing: 0;
    cursor: pointer;
  }
  button:hover {
    background-color: rgba(155, 155, 155, 0.863);
  }
  display: inline-flex;
}
.container--ranks {
  h1 {
    font-weight: 100;
  }
}
.horisontal-line {
  border-top: 1px solid grey;
}
.monthly--ranking {
  display: flex;
  align-items: baseline;
  a {
    text-decoration: none;
    color: rgb(0, 153, 255);
    padding: 0px 20px;
  }
}
.container--monthly {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 7px 20px;
    border: 0;
    border-spacing: 0;
    cursor: pointer;
  }
}
.win--point {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
  h1 {
    font-weight: 100;
  }
}
span {
  color: #00c0a8;
}

.win-win {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding: 5px 15px;
    background-color: #00c0a8;
    border: 1px solid rgba(0, 82, 0, 0.596);
    border-radius: 3px;
    color: white;
  }
  img,
  p {
    padding: 10px 10px;
  }
}
.for--place {
  display: flex;
  align-items: center;
  border: 1px solid rgb(179, 179, 179);
  li {
    list-style: none;
  }
  ul {
    padding: 5px;
    padding-right: 120px;
  }
  img {
    padding-left: 110px;
    padding-right: 8px;
  }
}
.place--points--li {
  font-size: 22px;
}
.place--li {
  font-size: 12px;
}
.win--place {
  display: flex;
  align-items: center;
  justify-items: center;
}
/* RANKED AND MONTHLY RANKING CSS END HERE*/
.container--table {
  max-width: 1150px;
  margin: auto;
  padding-top: 40px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}
th {
  background-color: #ebebeb;
  text-transform: uppercase;
  text-align: left;
  padding: 15px 20px;
}
.number--padding{
    padding-left: 30px;
  }
.number--color{
    color: #00c0a8;
    font-weight: 600;
}

td {
  color: dimgray;
  img {
    float: left;
    padding-right: 10px;
  }

  .left {
    float: right;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    color: #00aeff;
  }
}

td {
  text-align: left;
  padding: 5px 20px;
}
tr:nth-child(even) {
  background-color: #dddddd48;
}
.date-color {
  color: grey;
  padding-top: 5px;
}
.container--less {
  max-width: 1150px;
  margin: auto;
  h2 {
    font-weight: 100;
  }
  a {
    text-decoration: none;
    color: rgb(0, 153, 255);
  }
}
.show {
  padding: 30px 0px;
}
.win--place {
  display: flex;
  align-items: center;
  justify-items: center;
}

.winners {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  ul {
    list-style: none;
    padding: 0px 10px;
  }
}
.solid {
  padding: 5px 20px;
  border: 1px solid rgb(179, 179, 179);
  background-color: white;
}
.st-place {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  ul {
    padding: 0;
  }
  li {
    padding: 2px 0px;
  }
  span {
    font-weight: 600;
  }
}
