$myfont: Helvetica, Sans-Serif;
$mywidth: 768px;
$navcolor: whitesmoke;
$botchatcolor: whitesmoke;
$button: rgba(30, 255, 0, 0.836);
$colorbutton: white;
$avatarchatcolor: rgba(49, 134, 245, 0.842);

body {
  background-color: rgba(0, 0, 0, 0.473);
  font-family: $myfont;
  margin: auto;
  padding: 20px 0px;
}
.container {
  max-width: $mywidth;
  margin: auto;
  background-color: white;
  height: 90vh;
  position: relative;
  overflow: scroll;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: $navcolor;
}
.chat {
  display: flex;
}
.main {
  background-color: white;
}
.nav img {
  padding: 15px 10px;
}
.container-bot {
  display: flex;
  padding: 10px 0px;
}
.under-bot {
  padding: 0 5px;
  background-color: $botchatcolor;
  border-radius: 25px;
}
ol{
  list-style: none;
  padding: 0px 10px;
}
li{
  padding: 5px 0px;
}
.main img {
  padding: 10px 10px;
}
.container-avatar{
    display: flex;
}

.under-avatar {
    background-color: $avatarchatcolor;
    border-radius: 25px;
}
.form {
  position: absolute;
  bottom: 0;
  padding: 15px 10px;
  background-color: $navcolor;
  width: -webkit-fill-available;
}
form {
  display: -webkit-flex;
  width: 100%;
  min-width: 300px;
  max-width: 768px;
}
 input[type="text"] {
  padding: 5px;
  flex: auto;
  -webkit-flex: 1;
}

.form input[type="submit"] {
  background-color: $button;
  color: $colorbutton;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
}
.avatar{
    float: right;
}
.under-avatar{
    padding: 0 5px;
}
