body {
    background: rgb(113, 72, 252);
    background: linear-gradient(90deg, rgba(113, 72, 252, 1) 0%, rgba(75, 171, 248, 1) 100%);
    padding: 0;
    margin: 0;
    max-width: 768;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button {
    padding: 16px 16px;
    background: none;
    border: 0px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #4497e7;
    padding: 14px 16px;
}